# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Ignore heaptrack files
*.zst

# Ignore cache folder
.cache/

# Remove executable itself
yumibrowser

# Remove artifacts
release/
release/**
deps/**

# clangd file
.clangd

# Preventing accidental submission of codes
tests/test_unistring.c
tests/test_treeview.c
tests/test_toolbox.c
tests/test_textbox.c
tests/test_picturebox.c
tests/test_nodegraph.c
tests/test_docbox.c
test/test_docbox2.c
tests/test_designer.c
tests/test_clay_layout.c
tests/test_calendar.c

sdk/gui/**
sdk/shaders/**

demo/**

contrib/**
